<?xml version="1.0"?>

<model>
  <name>TurtleBot3(Burger Leader)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pawel Kusznier</name>
    <email>pakusznier@gmail.com</email>
  </author>

  <description>
    TurtleBot3 Burger PiCam
  </description>
</model>
